body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  .light-theme {
    background-color: #eef2ff;
    color: black;
  }
  
  .dark-theme {
    background-color: #1e1e1e;
    color: white;
  }
  
  .toggle-btn, .btn {
    padding: 8px;
    margin: 5px;
    cursor: pointer;
    background: purple;
    color: white;
    border-radius: 5px;
  }
  
  .delete-btn {
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
    background: red;
    color: white;
    border-radius: 5px;
    border: none;
  }
  
  .textbox {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 2px solid #ccc;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  }
  